<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>MOTORSHOP</title>
</head>
<body>
      <header>
          <h1>MOTORSHOP</h1>
          <nav>
              <ul>
                  <li><a href="../index.html">INICIO</a></li>
                  <li><a href="nosotros.html">CASCOS</a></li>
                  <li><a href="servicios.html" class="color">EQUIPAJE</a></li>
                  <li><a href="contacto.html">CONTACTO</a></li>
              </ul>
          </nav>
        </header>    
        
      
      <section class="servicios">
          <div class="texto1">
          <h2 class="center">EQUIPAJE</h2>
          <div class="contenido">
              <h3>MALETAS DE VIAJE</h3>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere id consectetur mollitia consequatur esse magnam aliquam, nostrum consequuntur nobis! Ad eos provident quo, expedita quos odit temporibus similique nobis deleniti?
                  <br><br>Precio: 
              </p>
          </div>
          <div class="contenido">
              <h3>CHAQUETAS</h3>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere id consectetur mollitia consequatur esse magnam aliquam, nostrum consequuntur nobis! Ad eos provident quo, expedita quos odit temporibus similique nobis deleniti?
                <br><br>Precio:  </p>
          </div>
          <div class="contenido">
              <h3>CORTAVIENTOS </h3>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere id consectetur mollitia consequatur esse magnam aliquam, nostrum consequuntur nobis! Ad eos provident quo, expedita quos odit temporibus similique nobis deleniti?
               <br> <br> Precio: </p>
          </div>
        </div>
          
      </div>
          
      </section>
      <footer>
          <p> &copy; WWW.MOTORSHOP.COM <p>
      </footer>
</body>
</html>