<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>MOTORSHOP</title>
</head>
<body>
      <header>
          <h1> MOTORSHOP</h1>
          <nav>
              <ul>
                  <li><a href="index.html" class="color">INICIO</a></li>
                  <li><a href="nosotros.html">CASCOS</a></li>
                  <li><a href="equipaje.html">EQUIPAJE</a></li>
                  <li><a href="contacto.html">GUANTES</a></li>
              </ul>
          </nav>
        </header>    
        <section class="banner">
           <h2></h2>
            <p>
            </p>
        </section>
      <section class="boletin">
          <p>BUSCAR</p>
          <form>
              <input type="email" placeholder="...">
              
          </form>
      </section>    
      <section class="cards">
          <div class="tarjeta">
              <img src="images/a1_2.jpeg" alt="CASCOS">
              <h3></h3>
              <p></p>
            </div>
          <div class="tarjeta">
              <img src="" alt="">
              <h3></h3>
              <p> </p>
            </div>
          <div class="tarjeta ">
              <img src="images/descarga.jpeg" alt="GUANTES">
              <h3>
              <p></p>
            </div>
      </section>
      <footer>
          <p> &copy;WWW.MOTORSHOP.COM<p>
      </footer>
</body>
</html>